{% extends "base.html" %} 

{% block content %}
  

  </br>
</br>
</br>

</br>
</br>

</br>
<!-- 
 
      <form action="{% url 'booking:search' %}" class="form-inline">
        <fieldset class="form-group">
          <input type="text" name="source" class="form-control" required>
        </fieldset>
        <fieldset class="form-group">
          <input type="text" name="destination" class="form-control" required>
        </fieldset>
        <fieldset class="form-group">
          <input type="date" name="date" class="form-control" required>
        </fieldset>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div> -->
     <div class="container">
    <div class="row">
    <div class="col-md-8">
      {% if trains %}
        <ul>
          {% for train in trains %}
            
            <li>
              {{ train.name }}
              <form action="{% url 'booking:book_ticket' %}" class="form-inline">
                <select name="class">
                  <option value="second_ac">default</option>
                  <!-- <option value="third_ac">3A</option>
                  <option value="sleeper">Sleeper</option>
                </select> -->
                <input type="text" id="id_train" name="train" value="{{ train.pk }}" hidden>
                <button type="submit" class="btn btn-primary">Book</button>
              </form>
            </li>

          {% endfor %}
        </ul>
        {% else %}
        <h1>no trains found</h1>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
