{% extends "base.html" %} 

{% block content %}
<style type="text/css">
	h2 {color: black;}
	p {color: #253d63;}
	li {color :#2a3ccc;}
</style>
<h1>Stationinfo</h1>
 <h2>RVCT</h2>
                <p>
                    A Remaining Value Checking Terminal (RVCT) is installed near Customer Care to enable passengers check balance and previous transactions on their tokens and smart card
                </p>

 <h2>Ticket Vending Machine</h2>
                <p>
                    Automatic Ticket Vending machines are installed at MG Road,Indiranagar & Baiyappanahalli stations to enable passengers buy tokens and load value on their smart cards by cash. 

                </p>

<h2>Customer Care</h2>
                <p>
                    The Customer care is located on the station to assist passengers regarding any problem about their tickets. It is usually located between entry and exit gates and is accessible from both paid and unpaid area.Those who need to pay excess fares or obtain assistance with malfunctioning tickets may also visit the Customer Care at stations.
                </p>


<h2>Passenger Information Display Boards</h2>
                <p>
                    Passenger Information Display Boards are installed near the Automatic gates and on platform to provide real-time information to passengers about the arrival of trains.
                </p>


<h2>In case of fire at the stations:</h2>
            <ul><li>There are manual call points for giving a fire alarm signal if fire is discovered.</li><li>Follow instructions given by Namma Metro staff to evacuate the station.</li><li>Use the nearest escalator or staircase to reach the street level.</li><li>Leave the station through nearest exit immediately.</li><li>Take care when walking to the exit.</li><li>Do not use lifts in case of fire.Incident report on the train:</li></ul>

<h2>Incident report on the train:</h2>
            <div><ul><li>Press PEA button inside the train to connect to train operator.</li><li>Follow instructions given by train operator.</li></ul></div>
        </div>


{% endblock %}
